.button, a.button {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;

	padding: 10px 16px;
	height: 30px;

	border-radius: 2px;
	background: var(--text-default);

	/* */
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 13px;
	line-height: 160%;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: var(--text-inverse);

	transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button:hover,
.button:focus {
	background-color: #000;
	color: var(--text-default);
}

.button:active {
	background-color: var(--background-secondary);
	color: var(--text-default);
}
