/* .navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
} */
.navbar__wrap .menu {
    display: none;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}


.menu>li>a {
    text-decoration: none;
}

.navbar__wrap .menu>li {
    display: flex;
    align-items: stretch;
}

.navbar__wrap .menu>li>a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu>li>a:hover {
    color: rgba(255, 255, 255, 1);
}




@media (max-width: 768px) {


    .hamb {
        position: absolute;
        top: 50px;
        left: 30px;
        display: flex;
        align-items: center;
    }

    .hamb__field {
        position: relative;
        z-index: 99;
        padding: 10px 20px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 40px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        
        background: rgb(14, 1, 20);
        background: linear-gradient(207deg, rgba(14, 1, 20, 1) 0%, rgba(38, 4, 54, 1) 35%, rgba(99, 5, 121, 1) 100%);
        z-index: 100;
        display: flex;
        transition: 0.6s;
    }

    .popup.open {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        overflow: auto;
    }

    .popup .menu>li {
        width: 100%;
    }

    .popup .menu>li>a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        
    }

    .popup .menu>li>a:hover {
        background-color: rgba(122, 82, 179, 0.1);
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    body.noscroll {
        touch-action: none;
        overflow: hidden;
    }
}