.service {
	border: 1px solid var(--border-default);
	border-radius: 2px;
	padding: 48px;
	width: 445px;

	background: var(--background-muted);

	counter-increment: my-counter;
}

.service__number {
	margin-bottom: 4px;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 13px;
	line-height: 160%;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: var(--text-muted);
}

.service__number::before {
	content: "0" counter(my-counter);
}

.service__title {
	margin-bottom: 8px;
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 24px;
	line-height: 130%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--text-default);
}

.service__desc {
	margin-bottom: 32px;

	font-family: var(--second-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 180%;
	color: var(--text-muted);
}
